[submodule "BOSL2"]
	path = BOSL2
	url = https://github.com/BelfrySCAD/BOSL2.git
[submodule "src/BOSL2"]
	path = src/BOSL2
	url = https://github.com/BelfrySCAD/BOSL2.git
[submodule "src/MCAD"]
	path = src/MCAD
	url = https://github.com/openscad/MCAD
